<h1>New Movie</h1>

<%= form_with(model: @movie) do |form| %>
  <table class="table">
    <tr>
        <td>
            <%= form.label :title %>
        </td>
        <td>
            <%= form.text_field :title %>
        </td>
    </tr>
    <tr>
        <td>
            <%= form.label :subtitle %>
        </td>
        <td>
            <%= form.text_field :subtitle %>
        </td>
    </tr>
    <tr>
        <td>
            <%= form.label :year %>
        </td>
        <td>
            <%= form.number_field :year %>
        </td>
    </tr>
    <tr>
        <td>
            <%= form.label :playtime %>
        </td>
        <td>
            <%= form.number_field :playtime %>
        </td>
    </tr>
    <tr>
        <td>
            <%= form.label :media %>
        </td>
        <td>
            <%= form.select(:media, Movie::MEDIA) %>
        </td>
    </tr>
    <tr>
        <td>
            <%= form.label :director %>
        </td>
        <td>
            <%= form.text_field :director %>
        </td>
    </tr>
    <tr>
        <td>
            <%= form.label :comment %>
        </td>
        <td>
            <%= form.text_area :comment %>
        </td>
    </tr>
    <tr>
      <td>
        <%= form.submit "Save" %>
      </td>
    </tr>
  </table>
<% end %>
<%= link_to "Back", movies_path, class: "btn btn-outline-dark btn-sm" %>