<div class="row">
    <h1><%= @movie.title %></h1>
</div>

<div class="row">

    <table class="table table-sm">

        <tbody>
            
            <tr>
                <td>Subtitle:</td>
                <td><%= @movie.subtitle %></td>
            </tr>
            <tr>
                <td>Playtime:</td>
                <td><%= @movie.playtime %></td>
            </tr>
            <tr>
                <td>Year:</td>
                <td><%= @movie.year %></td>
            </tr>
            <tr>
                <td>Director:</td>
                <td><%= @movie.director %></td>
            </tr>
            <tr>
                <td>Media:</td>
                <td><%= @movie.media %></td>
            </tr>
            <tr>
                <td>Comments:</td>
                <td><%= @movie.comment %></td>
            </tr>
            
        <tbody>
    </table>

</div>