<div class="row">
    <h1><%= @book.title %></h1>
</div>

<div class="row">

  <table class="table table-sm">

      <tbody>
          
          <tr>
              <td>Subtitle:</td>
              <td><%= @book.subtitle %></td>
          </tr>
          <tr>
              <td>Author:</td>
              <td><%= @book.author %></td>
          </tr>
          <tr>
              <td>Year:</td>
              <td><%= @book.year %></td>
          </tr>
          <tr>
              <td>Publisher:</td>
              <td><%= @book.publisher %></td>
          </tr>
          <tr>
              <td>Disposal:</td>
              <td><%= @book.disposal %></td>
          </tr>
          
      <tbody>
  </table>
  <div>
    <%= link_to "Back", books_path, class: "btn btn-outline-dark btn-sm" %>
    <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-outline-dark btn-sm" %>
  </div>
</div>