<!DOCTYPE html>
<html>
  <head>
    <title>Kamidi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    

      <!-- Navigationsleiste -->
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg" id="topMenu">
        <a class="navbar-brand" href="#">#kamidi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collap navbar-collapse" id="navbarMain">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movies">Movies</a>
            </li>
          </ul>
           
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <% if Current.user %>
              <li class="nav-item">
                <%= link_to Current.user.email, root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-secondary" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Login", sign_in_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>

        </div>   
      </nav>
      <!-- Hauptinhalt -->
      <div class="container">
        <%= render partial: "shared/flash" %>
        <%= yield %>
      </div>

    
  </body>

</html>
